<nav class="dashboard">
  <div class="option">
    <i class="material-icons">apps</i>
    <%= link_to "Dashboard", dashboard_path, class: "link" %>
  </div>
  <div class="option">
    <i class="material-icons">storage</i>
    <%= link_to "Base de datos", database_path, class: "link" %>
  </div>
  <div class="option">
    <i class="material-icons">event</i>
    <%= link_to "Mi evento", manager_path, class: "link" %>
  </div>
  <div class="option">
    <i class="material-icons">people</i>
    <%= link_to "Staff", staff_path, class: "link" %>
  </div>
</nav>
