<nav class="register">
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag("logo-black.svg", alt: "Checkn Logo", class: "logo") %>
  <% end %>
  <div class="combo_selectButton">
    <select class="" name="">
      <option value="abc">abc</option>
      <option value="abc">dsiohñoadisjfiñsdjiofjsadñiojfoñ ñiodsj ñiofjdsofjadosñijfsioñjsadoifjas</option>
      <option value="abc">abc</option>
      <option value="abc">abc</option>
    </select>
    <a href="#" class="button">Cambiar</a>
  </div>
</nav>
