@import "_colors.scss";

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

main{
  margin: 0 1rem 1rem 1rem;
}

canvas{
  margin: 1rem 0;
  height: 300px;
}

div.card{
  box-shadow: 0 5px 15px 1px rgba(0,0,0,0.10);
  border-radius: 5px;
  background-color: $snow;
}

.material-icons{
  margin: 4px;
}

.dissapear{
  display: none;

  *{
    display: none;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
