<div class="modal-space">
  <div class="modal negative">
    <div class="modal-container">
      <p class="subtitle">Boleto ya fue registrado</p>
      <p class="textbox">
        El boleto que estás intentando registrar ya fue registrado anteriormente. Confirma que el
        dispositivo haya leído el código de barras correctamente o intenta escribirlo manualmente.
      </p>
      <a href="#" class="button negative FIXED">Regresar</a>
    </div>
  </div>
</div>
