<div class="modal-space">
  <div class="modal negative">
    <div class="modal-container">
      <p class="subtitle">Evento está lleno</p>
      <p class="textbox">
        Lo sentimos, tus boletos ya fueron agotados, por favor contacta al staff de Checkn para resolver
        la situación.
      </p>
      <a href="#" class="button negative FIXED">Regresar</a>
    </div>
  </div>
</div>
