<div class="modal-space">
  <div class="modal warning">
    <div class="modal-container">
      <p class="subtitle">Actividad Llena</p>
      <p class="textbox">
        Esta actividad ya está llena. Aún así puedes realizar el registro con sobrecupo.
      </p>
      <a href="#" class="button warning FIXED">Registrar sobrecupo</a>
      <a href="#" class="link">Regresar</a>
    </div>
  </div>
</div>
