<div class="modal-space">
  <div class="modal negative">
    <div class="modal-container">
      <p class="subtitle">Boleto no encontrado</p>
      <p class="textbox">
        El boleto que estás intentando registrar no existe. Confirma que el dispositivo haya leído el
        código de barras correctamente o intenta escribirlo manualmente.
      </p>
      <a href="#" class="button negative FIXED">Regresar</a>
    </div>
  </div>
</div>
