<div class="modal-space">
  <div class="modal negative">
    <div class="modal-container">
      <p class="subtitle">Boleto no autorizado</p>
      <p class="textbox">
        El boleto que estás intentando registrar no está autorizado para entrar a esta actividad. Por favor informa al
        asistente que debe acercarse al registro a revisar sus datos.
      </p>
      <%= link_to "Regresar", register_path(activity_id: params[:activity_id]), class: "button negative FIXED" %>
    </div>
  </div>
</div>
