<nav>
  <%= image_tag("logo-black.svg", :alt => "Checkn Logo") %>
  <div class="link__list">
    <a href="#" class="link">Link 1</a>
    <a href="#" class="link">Link 2</a>
    <a href="#" class="link">Link 3</a>
    <a href="#" class="link--main">Log In</a>
    <i class="material-icons large">menu</i>
  </div>
</nav>
