<div class="modal-space">
  <div class="modal">
    <%= form_with(model: question, local: true)  do |f| %>
    <p class="subtitle">Pregunta</p>
    <div class="field">
      <p class="label">Tipo de Boleto</p>
      <%= collection_select(:question, :ticket_type_id, TicketType.where(event_id: event.id), :id, :name,{:selected => ticket_type.id}, prompt: true) %>
    </div>
    <div class="field">
      <p class="label">Enunciado:</p>
      <%= f.text_field :sentence %>
    </div>
    <%= f.submit %>
    <% end %>
  </div>
  <a id="modal_close">
    <i class="material-icons">close</i>
  </a>
</div>
