<%= render 'events/partials/nav/main' %>
<main class="forms">
  <div class="container">
    <p class="title">Evento nuevo</p>
    <%= render 'events/partials/forms/event', event: @event %>
  </div>
</main>
