<!-- RENDER DE MODALES -->
<%= render 'events/partials/modals/register/eventFull' %>
<%= render 'events/partials/nav/register' %>
<main class="forms">
  <div class="container">
    <p class="title">Registro</p>
    <!-- ACTIVITY REGISTRANDO -->
    <p class="subtitle">Entrada al evento</p>
    <p class="textbox">
      Hola, staff-name, a continuación deberás ingresar el código de barras del boleto.
    </p>
    <!-- FORMA DE REGISTER -->
    <form class="" action="index.html" method="post">
      <div class="field">
        <div class="combo_inputButton">
          <input type="text" name="" value="Hola" class="input">
          <input type="submit" name="Buscar" value="Buscar">
        </div>
      </div>
    </form>
    <!-- INFORMACIÓN DE PERFIL -->
    <div class="profileInformation">
      <p class="subtitle">Información del perfil</p>
      <!-- INFORMACIÓN DE TICKET -->
      <div class="dataField">
        <p class="label">Nombre</p>
        <p class="data">Oscar Alfonso Guerrero</p>
      </div>
      <div class="dataField">
        <p class="label">Correo Electrónico</p>
        <p class="data">oscar_alfonso@guerrero.mx</p>
      </div>
      <div class="dataField">
        <p class="label">Código de Referencia</p>
        <p class="data">AB420</p>
      </div>
      <p class="subtitle">Actividades</p>
      <!-- INFORMACIÓN DE ACTIVITIES -->
      <div class="dataField">
        <p class="label">Nombre</p>
        <p class="data">Oscar Alfonso Guerrero</p>
      </div>
      <div class="dataField">
        <p class="label">Correo Electrónico</p>
        <p class="data">oscar_alfonso@guerrero.mx</p>
      </div>
      <div class="dataField">
        <p class="label">Código de Referencia</p>
        <p class="data">AB420</p>
      </div>
    </div>
  </div>
</main>
