@import "_colors.scss";
@import "_flex.scss";
@import "_breakpoints.scss";
@import "global.scss";

main.dashboard{
  background-color: $cucumber;
  @include flex(col, cen, sta);

  div.manager{

    .button{
      margin-left: 2rem;
    }

    div.container{
      width: 100vw;
      @include flex(col, cen, sta);

      table{
        text-align: center;
        border-spacing: 0px;
        table-layout: fixed;

        tr.jump{
          div.cell{
            margin-top: 2rem;
          }
        }
        tr{

          .material-icons{
            color: $snow;

            &.link{
              color: $cucumber;
            }
          }


          &:hover{
            div.cell{
              background-color: $platinum-l;
            }

            .material-icons{
              color: $carbon;

              &.link{
                color: $cucumber;
              }
            }

          }
        }

        div.cell{
          // background-color: $apple-xl;
          height: 2rem;
          @include flex(col, cen, cen);
          width: 100%;
        }

        .small{
          div.cell{
            width: 100px;
          }
        }

        .icon{
          div.cell{
            width: 30px;
          }
        }

        .big{
          div.cell{
            @include flex(col, sta, cen);
            text-align: left;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .biggest{
          div.cell{
            @include flex(col, sta, cen);
            text-align: left;
            max-width: 500px;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }

}
