@import "_breakpoints.scss";
@import "_colors.scss";
@import "_flex.scss";

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

img.logo{
  height: 2.5rem;
  margin: 1rem 0;

  @include breakpoint_byRange(tin, sma){
    height: 1.5rem;
    margin: 1rem 0 0.5rem 0;
  }
}

.dissapear{
  display: none !important;

  *{
    display: none;
  }
}

div.modal-space{
  width: 100vw;
  height: 100vh;
  @include flex(col, cen, cen);
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;

  i.material-icons{
    background-color: $snow;
    border-radius: 10rem;
    padding: 0.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 1rem;
  }

  div.modal{
    width: 40vw;
    border-radius: 5px 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: $snow;
    max-height: 70vh;
    margin-top: 1rem;
    overflow-y: scroll;

    @include breakpoint_byRange(tin, sma){
      width: 90vw;
    };
  }
}

main{
  min-height: calc(100vh - 79px);
  @include breakpoint_byRange(tin, sma){
    min-height: calc(100vh - 55px);
  }

  div.container{
    width: 50vw;
    background-color: $snow;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px 5px;
    margin: 4rem 0 2rem 0;

    &.center{
      @include flex(col, cen, sta);
    }

    @include breakpoint_byRange(tin, sma){
      width: 90vw;
      margin-top: 3rem;
    }
  }
}
